extends layout

block content
    h3(id='recent-dis') Recent Discussions
    each post in songPosts
        div(class='home-posts')
            p(class="upvote") ⬆
            a(href=`/songposts/${post.id}` class='home-links')
                h2= post.postTitle
                    p(id="song-info") Song: #{post.songTitle} / Artist: #{post.artist}
