extends layout

block content
    h3(id='recent-dis') Recent Discussions
         each post in songPosts
            a(href=`/songposts/${post.id}`)
                div(class='home-posts')
                    h2= post.postTitle
                    p Song: #{post.songTitle} / Artist: #{post.artist}
