extends layout

block content
    h3(id='recent-dis') Recent Discussions
         each post in songPosts
            div(class='home-posts')
                a(href=`/songposts/${post.id}`)
                    h2= post.postTitle
                        p Song: #{post.songTitle} / Artist: #{post.artist}
