extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  meta(name='description' content='Band-Together')
  meta(name='title' property='og:title' content='Band-Together')
  meta(property='og:type' content='Website')
  meta(name='image' property='og:image' content='https://i.gyazo.com/8aa7a76ad45721a431ac5b426735eaff.png')
  meta(name='description' property='og:description' content='Band-Together')

block content
  h1= title
  p Welcome to your Project Skeleton
