extends layout
append head
    script(src='/javascripts/demo.js')
include utils

block content
    div(class="login-form")
        +validationErrorSummary(errors)
        form(action='/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +textField('Username: ', 'username', username)
            +textField('Password: ', 'password', null, 'password')
            div(class='login-register-buttons')
                button(type='submit' class='login-register-submit') Login
                a(href='/' class='login-register-cancel demo') Demo User Login
                a(href='/' class='create-cancel') Cancel
        div
        p: a(href='/users/register' class="no-account") Don't have an account?
