extends layout

include utils

block content
    div(class="songpost-create-form")
        form(action=`/songposts/${postInformation.id}/edit` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +textField('Post Title', 'postTitle', postInformation.postTitle)
            +textField('Song Title', 'songTitle', postInformation.songTitle)
            +textField('Artist', 'artist', postInformation.artist)
            +textField('Album', 'album', postInformation.album)
            +textField('Genre', 'genre', postInformation.genre)
            +textField('Song Link', 'songLink', postInformation.songLink)
            label(for="Post Text") Post Text
            textarea(class="songpost-create-textarea" name='body', cols="30", rows="10" )= postInformation.body
            div(class='create-buttons')
                button(type='submit' class='create-post') Post
                a(href='/' class='create-cancel') Cancel
