extends layout

include utils

block content
    div(class="songpost-create-form")
        +validationErrorSummary(errors)
        form(action=`/songposts/${post.id}/edit` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +textField('Post Title', 'postTitle', post.postTitle)
            +textField('Song Title', 'songTitle', post.songTitle)
            +textField('Artist', 'artist', post.artist)
            +textField('Album', 'album', post.album)
            +textField('Genre', 'genre', post.genre)
            +textField('Song Link', 'songLink', post.songLink)
            label(for="Post Text") Post Text
            textarea(class="songpost-create-textarea" name='body', cols="30", rows="10" )= post.body
            div(class='create-buttons')
                button(type='submit' class='create-post') Post
                a(href='/' class='create-cancel') Cancel
