body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1F2833;
  overflow-x: hidden;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .home-posts {
    width: 85%;
  }
  .navbar-home {
    font-size: 15px;
  }
  .user-profile {
    font-size: 12px;
    /* padding-left: 20px; */
    position: relative;
    right: 50px;
  }
  .logout-button {
    font-size: 12px;
    padding: 3px;
    position: relative;
    bottom: 10px;
    left: -2px;
  }
  .nav-link {
    font-size: 12px;
  }
  .user-login {
    font-size: 12px;
  }
  .user-register {
    font-size: 12px;
  }
  .songpost-post {
    width: 90%;
  }
  .songpost-note-show {
    width: 90%;
  }
  .search-container {
    position: absolute;
    top: 10px;
    left: 9.5rem;
  }
  .search-container input[type=text] {
    padding: 4px;
    margin-top: 10px;
    font-size: 12px;
  }
  .search-button {
    padding: 4px 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 12px;
  }
  .to-big {
    width: 11px;
  }
}
/* Large screens */
@media only screen and (min-width: 600px) {
  .home-posts {
    /* width: 50%; */
    max-width: 600px;
  }
  .logout-button {
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 13px;
    left: 3px;
  }
  .user-profile {
    position: relative;
    right: 60px;
    top: 2px;
  }
  .navbar-home {
    font-size: 20px;
  }
  .songpost-post {
    max-width: 800px;
  }
  .songpost-note-show {
    max-width: 800px;
  }
  .search-container {
    position: absolute;
    top: 10px;
    left: 12rem;
  }
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
  }
  .search-button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
  }
  .to-big {
    width: 12px;
  }
}


/* SCROLL BAR CAUSE WHY NOT */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #66FCF1;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

/* Navbar style setup */
.navbar {
  padding: 20px 0 20px 0;
  background-color: #0B0C10;
  border-bottom: #C5C6C7 solid 1px;
  border-top: #C5C6C7 solid 1px;
  box-shadow: 5px 10px 8px #14161a;
  color: #C5C6C7;
}
.navbar-home {
  padding: 20px;
  /* font-size: 20px; */
}
.navbar-home:hover {
  background-color: #3b3f4d;
}
.login-logout {
  position: absolute;
  top: 0px;
  right: 0;
  padding-right: 20px;
  padding-top: 10px;
}
.logout-button {
  /* position: relative;
  bottom: 13px;
  left: 3px; */
  color: #C5C6C7;
  /* padding: 5px; */
  background-color: #3b3f4d;
  border-radius: 4px;
  /* font-size: 15px; */
  border: none;
}
.logout-form {
  position: absolute;
  top: 20px;
  right: 20px;
}
.user-register {
  padding-right: 10px;

}
.navbar-elements {
  position: relative;
  right: 20px;
  bottom: 5px;
  list-style: none;
  float: right;
}
.nav-link {
  padding: 5px;
  height: 25px;
  width: 140px;
}
.nav-link:hover {
  background-color: #3b3f4d9d;
}
.navbar-home, .nav-link, .user-login, .user-register, .user-profile {
  text-decoration: none;
}
.navbar-home:hover, .nav-link:hover, .user-login:hover, .user-register:hover, .user-profile:hover {
  color: #66FCF1;
}
/* .user-profile {
position: relative;
right: 60px;
} */
.logout-button:hover {
  background-color: #66FCF1;
  cursor: pointer;
  color: black;
}
/* SEARCH BAR */
.search-container input[type=text] {
  border: none;
  background-color: #C5C6C7;
  border-radius: 5px 0 0 5px;
}
.search-button {
  background-color:#ffffff;
  /* color: #C5C6C7; */
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.search-button:hover {
  background-color: #66FCF1;
  /* color: black; */
}

/* Home page styling */
#recent-dis {
  text-align: center;
  color: #C5C6C7;
  font-size: 30px;
  margin: 30px 0 30px 0;
}
.upvote {
  float: right;
  position: relative;
  right: 30px;
  top: 15px;
  border: solid 1px #C5C6C7;
  padding: 10px;
  color: white;
}
.upvote:hover {
  background-color: #27282e;
  cursor: pointer;
}
.home-posts {
  background-color: #0B0C10;
  border: #C5C6C7 solid 1px;
  box-shadow: 5px 10px 8px #14161a;
  text-align: left;
  margin: 20px auto 20px auto;
  /* width: 75%; */
}
.home-posts:hover {
  background-color: #3b3f4d;
}
.home-posts h2 {
  color: #66FCF1;
  font-size: 24px;
  height: 100px;
  padding: 20px;
}
.home-posts h2 p {
  font-size: 12px;
  /* color: #C5C6C7; */
}
#song-info {
  color: #C5C6C7;
}
.home-links {
  text-decoration: none;
}

/* Login Styling */
.login-form {
  background-color: #0B0C10;
  border: #C5C6C7 solid 1px;
  box-shadow: 5px 10px 8px #14161a;
  color:  #C5C6C7;
  text-align: center;
  margin: 30px auto 30px auto;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
}

/* Register styling */
.register-form {
  background-color: #0B0C10;
  border: #C5C6C7 solid 1px;
  box-shadow: 5px 10px 8px #14161a;
  color:  #C5C6C7;
  text-align: center;
  margin: 30px auto 30px auto;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
}

/* Form controlled styling */
.form-control {
  border: 1px solid;
  border-radius: 10px 10px;
  box-sizing: border-box;
  border-style: none;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #DFF0F0;
  font-size: 20px;
  width: 100%;
}
.form-group {
  font-size: 20px;
  padding: 7px;
}

/* Login and register submit/cancel buttons */
.login-register-buttons {
  padding: 20px;
}
.login-register-submit {
  background-color:   #66FCF1;
  color: black;
  padding: 10px;
  border-radius: 5px 5px;
  margin: 0 10px 0 10px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.login-register-submit:hover {
  background-color: #45A29E;
  cursor: pointer;
}
.login-register-cancel {
  border: none white 1px;
  background-color: #3b3f4d;
  color: #DFF0F0;
  padding: 10px;
  border-radius: 5px 5px;
  margin: 0 10px 0 10px;
}
.login-register-cancel:hover {
  background-color: #45A29E;
}

/* If not account styling */
.no-account:hover {
  color: #818699;
}

/* Songpost Styling */
.songpost-post {
  background-color: #0B0C10;
  border: #C5C6C7 solid 1px;
  box-shadow: 5px 10px 8px #14161a;
  color: #DFF0F0;
  /* width: 800px; */
  margin: 30px auto 30px auto;
  padding-bottom: 20px;
}
.all-posts {
  padding: 10px;
}
.songpost-post p {
  padding: 10px;
}
.all-posts:hover {
  color: #818699;
}
.link-to-song {
  text-decoration: underline;
  font-weight: bold;
}
.link-to-song:hover {
  color: #45A29E;
}
.songpost-body {
  margin-top: 20px;
  border-top: solid 1px;
  padding-top: 20px;
}
.moving-the-name {
  float: right;
  position: relative;
  left: 10px;
  top: 10px;
}
.user-link {
  font-size: 13px;
}
/* Delete and edit buttons */
.delete-post {
  /* float: right; */
  display: inline;
  position: relative;
  bottom: 30px;
  left: 670px;
  width: 110px;
  border: none white 1px;
  background-color: #3b3f4d;
  color: #DFF0F0;
  padding: 10px;
  border-radius: 5px 5px;
  margin: 0 10px 0 10px;
}
.delete-post:hover {
 background-color: #45A29E;
 cursor: pointer;
}
.edit-post {
  display: inline;
  position: relative;
  bottom: 30px;
  left: 450px;
  width: 90px;
  border: none white 1px;
  background-color: #3b3f4d;
  color: #DFF0F0;
  padding: 10px;
  border-radius: 5px 5px;
  margin: 0 10px 0 10px;
}
.edit-post:hover {
  background-color: #45A29E;
  cursor: pointer;
}
/* Users songpost section */
.entire-post {
  background-color: #14161a ;
  margin: 0px 10px 10px 10px;
  text-align: left;
  padding: 20px;
}
.entire-post h1 {
  color: #66FCF1;
}
.entire-post h2 {
  margin: 10px 0 10px 0;
}
/* Post comment area */
.songpost-note {
  text-align: center;
}
.songpost-note label {
  font-size: 20px;
}
.noteText {
  width: 90%;
  border-radius: 10px 10px;
  background-color: #DFF0F0;
  margin-top: 8px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Submit and cancel button for post comment */
.songpost-note-submit {
  padding: 20px;
}
.create-post {
  background-color: #66FCF1;
  color: black;
  padding: 10px;
  border-radius: 5px 5px;
  margin: 0 10px 0 10px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.create-post:hover {
  background-color: #45A29E;
  cursor: pointer;
}
.create-cancel {
  border: none white 1px;
  background-color: #3b3f4d;
  color: #DFF0F0;
  padding: 10px;
  border-radius: 5px 5px;
  margin: 0 10px 0 10px;
}
.create-cancel:hover {
  background-color: #45A29E;
}
/* Comments Shown */
.songpost-note-show {
  background-color: #0B0C10;
  border: #C5C6C7 solid 1px;
  box-shadow: 5px 10px 8px #14161a;
  color: #DFF0F0;
  padding: 20px;
  margin: 0px auto 0px auto;
  /* width: 800px; */
}
#comments {
  color: #66FCF1;
  margin-bottom: 10px;
}
.notes-container {
  margin-bottom: 10px;
}
.notes-form {
  text-align: center;
}
.notes-form label {
  font-size: 20px;
}
.notes-posted {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  overflow-wrap: break-word;
}

/* Songpost create form */
.songpost-create-form {
  background-color: #0B0C10;
  border: #C5C6C7 solid 1px;
  box-shadow: 5px 10px 8px #14161a;
  color:  #C5C6C7;
  text-align: center;
  margin: 30px auto 30px auto;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
}
.songpost-create-form label {
  font-size: 20px;
}
.songpost-create-textarea {
  width: 100%;
  border-radius: 10px 10px;
  background-color: #DFF0F0;
  margin-top: 8px;
}
.create-buttons {
  padding: 10px;
}

/* PROFILE PAGE */
.profile-heading {
  text-align: center;
  color: #C5C6C7;
  margin: 30px auto 30px auto;
}
.create-at {
  float: right;
  position: relative;
  bottom: 15px;
  left: 15px;
  color: rgb(114, 114, 114);
}
